*{
    list-style: none;
    background-image: linear-gradient(to right, rgb(84, 84, 224) , grey);
}

h1{
text-align: center;
font-weight: bold;
}

p{
    color:whitesmoke;
}

img{
    box-sizing: border-box;
    border-radius: 100px;
}